This is my portfolio.

<% @pictures.each do |picture| %>
  <div class="box" style="width: 50%">
    <div class="columns">
        <div class="column">
            <%= image_tag url_for(picture.personal_pic.url)%>
        </div>
        <div class="column">
    <p><%= picture.title %></p>
    <%= picture.device %>
    <%= picture.location %>
    <%= picture.year %>
    <%= picture.description %>
    </div>
    </div>
    </div>

<% end %>
<%= link_to 'Submit New Picture', '/pictures/new' %>